### Emacs ###
*~
\#*\#
.\#*
*.elc
auto-save-list
.markdown-preview.html
.dir-locals.el
.projectile

### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
Session.vim
[._]*.un~

### Obsidian ###
.obsidian/
*.temp

### Linux ###
.fuse_hidden*
.directory
.Trash-*
.nfs*
nohup.out

### Claude Code ###
.claude/settings.local.json
